@import 'variables1';

.btn{

    &.btn-primary{
        background-color: rgba($primary-c, 0.85);
        color: $white;
        transition: all 0.4s ease;
        border: 0;
        padding: 15px 40px;

        &:hover{
            background-color: rgba($primary-c, 1);
        }
    }
    &.btn--link{
        border: 1px solid $primary-c;
        color: $primary-c;

        img{
            filter: $filter-primary;
        }

        &:hover{
            background: lighten($primary-c, 0.2);
            color: $white;

            img{
                filter: $filter-white;
            }
        }
    }

    img{
        margin-right: 5px;
        height: 1rem;
    }
}

.link-arrow{
    text-decoration: none;
    color: $white;
    font-weight: 600;
    position: relative;

    &::after{
        content: url('../images/right-arrow.svg');
        top: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        filter: $filter-white;
        margin-top: 15px;
    }

    &:hover{
        color: $white;
    }
}

.link-arrow-right{
    text-decoration: none;
    color: $primary-c;
    font-weight: 600;
    position: relative;

    &::after{
        content: url('../images/right-arrow.svg');
        filter: $filter-primary;
        margin-left: 10px;
    }

    &:hover{
        color: $primary-c;
    }

}

.swiper-button{
    background-color: rgba($primary-c, 0.85);
    position: absolute;
    height: 50px;
    width: 50px;
    z-index: 5;
    top: 225px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        filter: $filter-white;
    }
    &.swiper-button-prev{
        left: 50px;
        img{
            transform: rotate(-90deg);
        }
    }
    &.swiper-button-next{
        right: 50px;
        img{
            transform: rotate(90deg);
        }
    }
    &:hover{
        background-color: rgba($primary-c, 1); 
    }
}

.section__name{
    color: $font-c;
    text-align: center;

    h2{
        font-size: 2rem;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .section__desc{
        font-size: 1rem;
        margin-bottom: 30px;
    }
}