

$primary-c: #219FC1;
$white: #fff;
$font-c: #415056;
$silver: #F5F6F6;

$filter-primary: invert(55%) sepia(22%) saturate(1400%) hue-rotate(146deg) brightness(92%) contrast(96%);
$filter-white: invert(100%) sepia(0%) saturate(2104%) hue-rotate(324deg) brightness(117%) contrast(100%);
$filter-silver: invert(97%) sepia(0%) saturate(570%) hue-rotate(164deg) brightness(85%) contrast(83%);