

$primary-c: #BA324F;
$white: #fff;
$font-c: #415056;
$silver: #F5F6F6;

$filter-primary: invert(34%) sepia(34%) saturate(2186%) hue-rotate(310deg) brightness(81%) contrast(100%);
$filter-white: invert(100%) sepia(0%) saturate(2104%) hue-rotate(324deg) brightness(117%) contrast(100%);
$filter-silver: invert(97%) sepia(0%) saturate(570%) hue-rotate(164deg) brightness(85%) contrast(83%);